@{
   ViewBag.Title = "Home Page";
   Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<!--CONTENT-->
<div class="content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="header">
                  <h4 class="title">Dashboard Design</h4>
                  <p class="category">Insight Snapshot</p>
               </div>
               <div class="content">
                  <div class="my-3">
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                     Ipsum has been the industry's standard
                     dummy text ever since the 1500s, when an unknown printer took a galley of type
                     and scrambled it to make a type specimen book.
                     It has survived not only five centuries, but also the leap into electronic
                     typesetting, remaining essentially unchanged. Lorem
                     Ipsum has been the industry's standard
                     dummy text ever since the 1500s, when an unknown printer took a galley of type
                     and scrambled it to make a type specimen book.
                     It has survived not only five centuries, but also the leap into electronic
                     typesetting.
                  </div>

                  <div class="footer">
                     <div class="legend">
                        <i class="bi bi-circle text-info" style="font-size: 12px;"></i> Product
                        <i class="bi bi-circle text-danger" style="font-size: 12px;"></i> Category
                        <i class="bi bi-circle text-warning" style="font-size: 12px;"></i> Employee
                     </div>
                     <hr>
                     <div class="stats">
                        <i class="bi bi-clock"></i> Updated 3 minutes ago
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-md-4">
            <div class="card my-3 gradient-1" style="color: whitesmoke;">
               <div class="card-body my-3 text-center">
                  <h4 class="card-title" style="font-weight: 600 !important;">Total Stock</h4>
                  <p class="card-text" style="margin-bottom: 30px;">Campaign Performance</p>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="card my-3 gradient-2" style="color: whitesmoke;">
               <div class="card-body text-center">
                  <h4 class="card-title" style="font-weight: 600 !important;">Products Sold</h4>
                  <p class="card-text" style="margin-bottom: 30px;">Campaign Performance</p>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="card my-3 gradient-3" style="color: whitesmoke;">
               <div class="card-body text-center">
                  <h4 class="card-title" style="font-weight: 600 !important;">Net Profit</h4>
                  <p class="card-text" style="margin-bottom: 30px;">Campaign Performance</p>
               </div>
            </div>
         </div>
      </div>

   </div>
</div>
